.image-link {
    background-color: black;
    margin-left: 30%;
    margin-right: 30%;
}
a {
    color: white;
    text-decoration: none;
    background-color: black;
}
.home{
    text-align: center;
}
.home img{
    height: 100px;
    width: auto;
}
.sauce-pic{
    display:block;
    height:auto ;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    
}
div.recs{
    text-align: center;
    background-color: grey;

}
div.recipe{
    display: inline-block;
    background-color: grey;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
.recipe ul, .recipe ol{
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}
